<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs')  %>

<body>

    <%- include('./partials/nav.ejs')  %>

    <div class="blogs content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, quibusdam.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, quibusdam.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, quibusdam.</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>